@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;

    --black: rgba(42, 43, 42, 1);
    --gray-20: rgba(140, 141, 140, 1);
    --gray-30: rgba(85, 85, 85, 1);
    --gray-bg: rgba(245, 245, 245, 1);
    --gray-bg-subtle: rgba(246, 247, 246, 1);
    --gray-line: rgba(225, 225, 225, 1);
    --orange: rgba(255, 104, 58, 1);
    --purple: rgba(226, 215, 250, 1);
    --purple-dark: rgba(186, 165, 234, 1);
    --shadow: 2px 2px 15px 0px rgba(144, 144, 144, 0.15);
    --white: rgba(253, 252, 255, 1);
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: transparent;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
  }
  .animate-fade-up {
    animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
  }
  .animate-marquee {
    animation: marquee var(--duration) infinite linear;
  }
  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
  }
  .animate-shimmer {
    animation: shimmer 8s infinite;
  }
}

@keyframes spin {
  to { transform: rotate(1turn); }
}

@keyframes fade-in {
  0% { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: none; }
}

@keyframes fade-up {
  0% { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: none; }
}

@keyframes shimmer {
  0%, 90%, to { background-position: calc(-100% - var(--shimmer-width)) 0; }
  30%, 60% { background-position: calc(100% + var(--shimmer-width)) 0; }
}

@keyframes marquee {
  0% { transform: translate(0); }
  to { transform: translateX(calc(-100% - var(--gap))); }
}

@keyframes marquee-vertical {
  0% { transform: translateY(0); }
  to { transform: translateY(calc(-100% - var(--gap))); }
}
